select{
  width: 200px;
  /* height: 100px */
  height: 400px;
  outline: none;
}

select:active,select:after,select:before,
option:active,option:after,option:before
{
  content: '';
  outline: none;
}
select option{
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  display: block;
  outline: none;

}